* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #BF9264;
    --cor-secundaria: #6F826A;
    --cor-terciaria: #F0F1C5;
    --cor-quarternaria: #BBD8A3;
    --fonte-principal: "Cal Sans", sans-serif;    
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-family: var(--fonte-principal);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 4%;
    background-color: var(--cor-secundaria);
}

.titulo__header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao__excluir {
    font-family: var(--cor-secundaria);
    background-color: red;
    border-radius: 1em;
    padding: 0.5em;
    border: 0;
    color: var(--cor-terciaria);
    width: 8em;
    margin: 0 2em;

    &:hover {
        background-color: #fc4848;
    }
}

.excluir__dia {
    width: 30px;
    margin: 0px;
    padding: 0px;
}

.botao__editar {
    background-color: #3ba6e4;
    border-radius: 1em;
    border: 0px;
    color: var(--cor-terciaria);
    width: 2em;
    
    &:hover {
        background-color: #77b2d4;
    }
}


main {
    padding: 2% 4%;
    min-height: 100vh;
}

.main__dias {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    list-style: none;
    flex-wrap: nowrap;
}

.main__dia {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 570px;
    max-height: 100vh;
    overflow: hidden;
}

.lista__dia {
    display: block;
    max-height: 570px;
    overflow-y: auto;
    scrollbar-width: thin;
    max-width: inherit;
    width: 100%;
    padding-top: 5%;
    word-break: break-all;
}


.lista__dia::-webkit-scrollbar-thumb {
    background-color: var(--cor-secundaria) !important;
    border-radius: 8px !important;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.horario {
    color: var(--cor-secundaria);
}

.main__dia__semana {
    font-size: 1.5em;
}

.botao__addevento {
    font-family: var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    border-radius: 1em;
    padding: 0.5em;
    border: 0;
    color: var(--cor-terciaria);
    width: 10em;
    margin-top: 5%;
}

.botao__ordena {
    display: none;
    font-family: var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    border-radius: 1em;
    padding: 0.5em;
    border: 0;
    color: var(--cor-terciaria);
    width: 5em;
    margin-top: 5%;
}

.botao__addevento:hover {
    background-color: #92ac8c;
}

.submit {
    margin-top: 0;
}

#fundo {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#formulario {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  width: 350px;
}

.fechar {
    padding-left: 90%;
    border: 0;
    background-color: transparent;
}

.formulario__conteudo {
    padding: 1em;
}

.formulario__campos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    margin: 1em 1em 1.5em 1em;
}

label {
    padding-bottom: 1em;
}

input, textarea {
    border: 1px var(--cor-secundaria) solid;
    padding: 0.5em;
    border-radius: 1em;
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
}

.rodape {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--cor-secundaria);
    padding: 1em;
}

.rodape__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Pequenos ajustes */
@media (max-width: 1273px) {
    .main__dia__semana {
        font-size: 1.3em;
    }

    li {
        font-size: 12px;
    }
}
/* Dektops menores e tablets */
@media (max-width: 1111px) {
    .titulo__header {
        font-size: 1em;
    }

    .diaatual__header {
        font-size: 25px;
    }

    .botao__excluir {
        font-size: 1em;
        width: 8em;
    }

    body {
        font-size: 0.8em;
    }

    main {
        padding: 2%;
    }

    .main__dias {
        display: flex;
        flex-direction: column;
    }

    .main__dia {
        min-height: 200px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .main__dia__semana {
        display: flex;
        flex-direction: column;
    }
    .lista__dia {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y:unset;
        list-style: none;
        padding-top: 0;
        width: 100%;
    }

    li {
        margin:0 0.5em;
        flex: 0 1 10em;
    }

    .botao__addevento {
        width: 7em;
        font-size: 10px;
        align-items: center;
        padding: 0.5em;
        margin-top: 0px;
        text-align: center;
    }

    .botao__ordena {
        margin-top: 0;
        margin-left: 1em;
    }

    .excluir__dia {
        width: 1.5em;
    }
}

/* Pequenos ajustes */
@media (max-width: 824px) {
    .titulo__header {
        font-size: 0.8em;
    }

    .diaatual__header {
        font-size: 19px;
    }
}

/* Celulares */
@media (max-width: 620px) {
    header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .titulo__header {
        font-size: 10px;
    }

    .diaatual__header {
        font-size: 15px;
    }

    .botao__excluir {
        margin: 5px 5px;
        font-size: 1em;
    }

    .excluir__dia {
        font-size: 8px;
    }

    .botao__editar {
        font-size: 8px;
    }

    .botao__addevento{
        font-size: 10px;
    }
    
}